<div class="best_articles">
  <%= render 'best_articles'%>
</div>

<% @articles.each  do |article| %>

<section id='article-<%= article.id%>' class="articles">
    <header class="article_header">
        <img class="avatar" href=<%= image_tag article.user.avatar.url, style: :medium %></img>
        <h2><%=link_to article.name, article_path(article)%></h2>
        <p class="create_on">Create on <%=l article.created_at, format: :short %> | by <%=article.user.username %></p>
    </header>

  <div class="article_description">
    <p>
      <%= article.short_description%>
    </p>
  <% if user_signed_in? %>
    <%= link_to edit_article_path(article) do %>
        <span class="glyphicon glyphicon-pencil"></span>
    <% end %>

    <%= link_to article_path(article),class:'glyphicon glyphicon-remove', method: :delete, remote: true  do%>
    <% end %>


        <%= link_to "/like/#{article.id}", method: :post  do %>
           <span class="glyphicon glyphicon-thumbs-up" style="color: green" id='like-<%= article.id %>'></span>
        <% end %>

        <%= link_to "/unlike/#{article.id}", method: :post do %>
            <span class="glyphicon glyphicon-thumbs-up" style="color: red"></span>
        <% end %>


    <%= article.votes_for.size %> likes

  <% end %>
  </div>
</section>
<% end %>
<div class="paginate"><%= will_paginate @articles, renderer: BootstrapPagination::Rails %></div>

